<a href="https://colab.research.google.com/github/Parishri07/Data-Science/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
with open("Example1.txt","r") as file1:

FileContent=file1.readlines()

print(FileContent)
"""
# open the files and automatically closes it after completion of tasks

In [ ]:
import pandas as pd

# csv_path = 'file1.txt'
# df = pd.read_csv(csv_path)

# df = pd.read_csv(csv_path, header=none)
# data without header

# xlsx_path = 'file1.xlsx'
# df = pd.read_excel(xlsx_path)

# df.to_csv(path)
# exporting files

In [ ]:
songs = {'Album': ['A','B','C'],'Released': [1,2,3]}
songs_frame = pd.DataFrame(songs)
print(songs_frame)

  Album  Released
0     A         1
1     B         2
2     C         3

In [ ]:
x=songs_frame['Released']
print(x)

0    1
1    2
2    3
Name: Released, dtype: int64

Slicing data frames

In [ ]:
# df.iloc[0,0]
# df.iloc[0,Album]
# accesss the first row and first column

In [ ]:
z = songs_frame.iloc[0:1,0:2]
print(z)
# rows from 0 and 1 not included and columns from 0 to 1

  Album  Released
0     A         1

In [ ]:
# df['col_name'].unique()
# gives the unique values

Pandas Datatypes: object, int64, float64, datetime64, timedelta[ns]

dataframe.dtypes()
:- retrives the datatypes of each column

dataframe.astype()
:-convert the data type

In [ ]:
df.describe()
# df.describe(include='all')
# returns the statistical summary

df.info()

**Dealing with missing** **values**

We can drop missing values whose value is NaN by usinf

df.dropna()

axis=0 drops the row containing missing values while axis=1 drops the column

mean = df['Price'].mean()

df = df['Price'].replace(np.nan, mean)